* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
}

.App {
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-logo {
  width: 100%;
  height: 110px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-react {
  width: 100px;
}

.calculator-container {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 2px solid white;
}

.row {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center

}